.seacrchCtn {
	height: 11vh;
	width: 70vw;
	margin: 20px auto;
	position: relative;
}

.live-btn {
	position: absolute;
	left: 5%;
	top: 18%;
	min-height: 38px;
	min-width: 38px;
	max-height: 7vh;
	max-width: 7vw;
}

@media screen and (max-width: 600px) {
	.seacrchCtn {
		width: 90vw;
	}

	.live-btn {
		left: 3%;
	}
}
