.section {
  margin: 0px;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.video-name-wrapper {
  position: absolute;
  left: 15px;
  bottom: 0;
}
.video-name {
  color: white;
}
.functionbar-wrapper {
  margin: 10px;
  padding-top: 5px;
  
position: absolute;
height: 242px;
left: 0px;
right: 0px;
top: 256px;



background: #15161B; 
 
}

.trendy-wrapper {
  color: white;
  margin: 10px;
}
.blk {
  background-color: black;
}
.Grid .item {
  color: blueviolet;

}


.continue-watching-wrapper {
  margin: 10px;
  color: white;
}
.trending-now-wrapper {
  margin: 10px;
  color: white;
}
.mylist-wrapper {
  margin: 10px;
  color: white;
}
