.test {

  height: 168;
  width: 150px;


   
  

  }
  
  /* @media only screen and (max-width: 600px) {
    .test {
      height: 105;
      width: 55px;
    }
  } */



  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .test {
    height: 140;
    width: 75px;
  
   
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .test {
    height: 168;
    width: 150px;
  
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .test {
    height: 168;
    width: 150px;
  
  }

  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .test {
    height: 168;
  width: 150px;

  }

   
}
