.menu-item {
    padding: 0 40px;
    margin: 5px 5px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
  .menu-item-wrapper {
    margin: 0 10px;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
  }
  .menu-item {
    width: 120px;
  }
  
  .scroll-menu-arrow {
    cursor: pointer;
  }
  .horizontal-menu {
    width: 100%;
  }
  