.explorePageContainer {
    max-width: 1000px;
    margin: auto;
}

.genreContainer {
    display: grid;
    grid-template-columns: repeat(8, auto);
    margin: auto;
}

.genre {
    border: 1px solid gold;
    margin: 5%;
    width: auto;
    border-radius: 5px;
    font-size: 15px;
}