
.explorePageContainer {
    max-width: 1366px;
    margin: auto;
    background-color: var(--dark-color);
}

.genreContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 157px);
    gap: 1rem;
    margin: 0 1rem;
    justify-content: center;
}

.exploreGenre {
    border: 2px solid gold;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 157px;
}

.explorePageHeader {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.explorePageHeader > .title > * {
    margin-left: 0px;
}

.explorePageHeader > .title > h1 {
    margin-bottom: 0;
    font-size: var(--title-large-font-size);
    padding-top: 30px;
}

.explorePageHeader > .title > p {
    font-size: 16px;
}

.explorePageHeader > .watchRandomBtn {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.explorePageHeader > .watchRandomBtn > .watchRandomLink {
    height: 44px;
    width: 169px;
    border: 2px solid #A07923;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #A07923;
}

@media only screen and (min-width: 1366px) {
    .genreContainer {
        margin: 0;
    }

    .explorePageHeader {
        margin: 0 67px;
    }
  }