* {
  box-sizing: border-box;
  font-family: Roboto;
}

.App {
  text-align: center;
}

.App h1,
p {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin-top: 10px;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}
.searchPortfolio {
  background: #000000;
  border-radius: 10px;
  border: none;
  width: 712px;
  height: 36px;
  margin: auto;
  display: flex;
  color: white;
  margin-top: 100px;
  width: 712px;
}
.searchPortfolio::placeholder {
  margin-left: 30px !important;
}
.mobileAdjust {
  display: flex !important;
}
.portfolioHeading {
  font-family: "Roboto";
  font-style: "normal";
  font-weight: 400;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 20px;
}
.portfolioHeadingsub {
  font-family: "Roboto";
  font-style: "normal";
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.portfolioHeadingsubP {
  font-family: "Roboto";
  font-style: "normal";
  margin-left: 0px !important;

  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navText {
  color: #daa520;
  text-decoration: none;
  padding: 3px;
}

@media (max-width: 750px) {
  .mobileJustify {
    justify-content: center;
  }
  .centeerrbtn {
    margin: auto;
  }
  .portfolioHeadingsubP {
    text-align: center !important;
  }
  .portfolioHeading {
    text-align: center !important;
    margin-bottom: 20px;
  }
  .portfolioHeadingsub {
    text-align: center !important;
  }
  .mobileAdjust {
    display: block !important;
    padding: 0px 15%;
  }
  .searchPortfolio {
    width: auto !important;
  }
  .outerwidthP {
    width: 300px !important;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
}
