/* 
  seeting notification component height
  as I work and get values from prototype to style the notification component, I set 
  the height of notification component as follow
  - notification container 85vh
    the prototype is set for IphoneX and dimension for IphoneX is (375 X 812)
    693px is set for notification container, which is approximately 85% of the page.

    so here I'll set max-height: 85vh and not setting height: 85vh because it could change to 
    smaller height but will never go larger.

  - The bottom navigation takes 72px and covers about 8% of the page

  - the rest of space is left for body

*/
div.notifications-page {
  padding: 22px 12px;
  background-color: #15161b;
  border-radius: 0px 0px 50px 50px;

  max-height: 85vh;
  position: relative;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  /* 
      leaving space to bottom navigation bar
      to always keep bottom nav out of notifications area.
    */
  margin-bottom: 15vh;
}

div.notifications-page::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: repeating-linear-gradient(to bottom, #d3c095ff, #a07923ff);
  width: 100%;
  height: 100.23%;
  border-radius: 0px 0px 50px 50px;
  z-index: -1;
}
div.notification-header {
  height: 19vh;
  margin: 0px;
  background-color: #15161b;
  /* border-bottom: 1px solid #757575; */
  position: relative;
}
main.notification-box {
  /* background-color: #15161b; */
}
div.notifications-container {
  display: flex;
  flex-direction: column;
  max-height: 42vh;
  overflow-y: scroll;
}

div.notification-row {
  display: grid;
  grid-template-columns: 56px auto;
  height: 78px;
  border-bottom: 1px solid #757575;
}
div.notification-row:first-child {
  border-top: 1px solid #757575;
}

/* column 1 */
div.notification-column {
  grid-column: 1/2;
  align-self: center;
}
/* column 2 */
p.notification-column {
  grid-column: 2/3;
  width: 100%;
  color: white;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: -0.24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  margin: 0px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* both columns */
/* div.notification-column{
    align-self: center;
  } */

/* div.notification-column:first-child input[type=radio]{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid goldenrod;
    padding: .8rem;
    background-color: gold;
    visibility: hidden;
    position: absolute;
  } */

/* container */
div.notification-column div.container {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background: repeating-linear-gradient(to left, #d3c095, #a07923);
}

div.notification-column div.container div.check {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

div.btns-container {
  max-height: 18vh;
  margin-top: 7vh;
  display: flex;
  justify-content: center;
}

div.btns-container button {
  all: unset;
  height: 60px;
  width: 60px;
  border: 1px solid goldenrod;
  border-radius: 50%;
}

/* clear btn */
div.btns-container button.clear-btn {
  margin-right: 27.5px;
}

/* read btn */
div.btns-container button.read-btn {
  margin-left: 27.5px;
}

/* notification style for opening message */
main.notification-box h1.from {
  all: unset;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  letter-spacing: -0.24px;
  color: white;
  text-align: left;
  display: block;
  border-bottom: 1px solid #757575;
  padding-left: 29px;
}

main.notification-box p.notification-body {
  all: unset;
  display: block;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 18.75px;
  letter-spacing: -0.24px;
  color: white;
  text-align: left;
  padding-left: 29px;
}

div.notification-header div.selected-items {
  color: white;
  position: absolute;
  left: 11px;
  bottom: 6px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: -0.24;
}

/* notification replay */
div.notification-replay {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(30, 30, 30, 0.75); */
  background-color: #121212;
  height: 100vh;
}

div.notification-replay div.top-black-box{
  width: 100%;
  height: 44px;
  /* background-color: #121212; */
}

div.notification-replay div.replay-header {
  height: 3rem;
  background-color:rgba(44,44,46,0.25);
  position: relative;
}

div.notification-replay div.replay-header button {
  position: absolute;
  top: 0px;
  left: 0px;
}

div.notification-replay div.replay-header h2 {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;

  font-family: Roboto;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.36px;
}

div.notification-replay div.replay-body {
  display: flex;
  flex-direction: column;
  padding-left: 2.69rem;
  padding-right: 2.69rem;
  height: 100%;
  background-color: rgba(44,44,46,0.75);
}

div.notification-replay div.replay-body label h3 {
  all: unset;
  display: flex;
  align-items: center;
  color: white;
  text-align: left;

  height: 36px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

}

div.notification-replay div.replay-body label input[type="text"] {
  all: unset;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  height: 36px;
}
div.notification-replay div.replay-body label textarea {
  all: unset;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  height: 187px;
}

div.notification-replay div.replay-body div.msg-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.notification-replay div.replay-body div.msg-btns button{
  all: unset;
  
}

div.notification-replay div.replay-body div.msg-btns button.msg-attachment{
  
  margin-top: 44px;
  margin-bottom: 44px;
  width: 3rem;
  height: auto;
  transform: rotate(-45deg);
}
div.notification-replay div.replay-body div.msg-btns button.send-msg{
  width: 90px;
  height: 90px;
  background: repeating-linear-gradient(180deg, #d3c095 0%, #a07923 100%);
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(202, 170, 101, 0.35);
}