@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 570px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .text {
        font-size: 35px;
        margin-right: 0px;
    }

    .navbardiv {
        display: none;
    }


    .MuiButton-label {
        padding-left: 30px;
        font-size: 20px;
    }


    .button__withArrow {
        margin: 0 10px;
        background-color: none;
    }

    .button__link {
        height: 50px;
        background-color: none;
    }

    .settings {
        margin: 30px 0;
    }

    .settings__Button {
        font-size: 20px;
    }


}

@media only screen 
  and (min-device-width: 571px) 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2) {

    h2 {
        font-size: 45px;
    }
  }