:root {
  --amplify-primary-color: #ff6347;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
}

.one {
  margin: 10px;
  width: 150px;
  height: 50px;
  display: inline-block;
}

.body {
  background-color: #2c2c2e;
}

.settings {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #2c2c2e;
  overflow-y: scroll;
  color: white;
  text-align: center;
  padding-bottom: 4rem;
}

.Button {
  color: white;
}

.backbutton {
  left: 0;
}

.backIcon {
  color: white;
}
.pageTitle {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  color: white;
  /* background-color: rgb(26, 22, 22); */
  background-color: rgba(17, 17, 18, 0.6);
  padding: 0px;
  line-height: 20px;
  margin-bottom: 3px;
  margin-left: 3px;
}

.text {
  margin: 0 auto;
  text-align: center;
  /* position: relative; */
  padding-right: 60px;
}

.button__withArrow {
  padding: 1px 0px;
  margin: 3px;
  background-color: #252323;
}

.button__link {
  display: flex;
  align-items: center;
}

.rightIcon {
  color: darkgrey;
  background-color: #252323;
  /* margin-right: 3px; */
}

.settings__Button {
  width: 100%;
  /* padding: 8px 0px !important; */
  margin: 1.5px 0px !important;
  background-color: #222222 !important;
  color: white !important;
  font-size: 15px !important;
  border: none;
  text-transform: none !important;
  text-align: center;
}

.headertext {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-right: 20px;
}

.termsBody {
  display: inline-block;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  color: white;
}

/* notification style */
.not-entry {
  /* border-bottom: 1px solid black;
  border-top: 1px solid black; */
  /* color: white; */
  /* font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

/* .not-entry:nth-child(1) {
  width: 5%;
} */
/* .not-entry:nth-child(2) {
  width: 10%;
} */
/* .not-entry:nth-child(3) {
  text-align: left;
  width: 40%;
} */

.not-table {
  /* width: 100%; */
  /* border-collapse: collapse;
  table-layout: fixed; */
  /* word-break: break-all; */
}

/* new notification style */
/* 
  seeting notification component height
  as I work and get values from prototype to style the notification component, I set 
  the height of notification component as follow
  - notification container 85vh
    the prototype is set for IphoneX and dimension for IphoneX is (375 X 812)
    693px is set for notification container, which is approximately 85% of the page.

    so here I'll set max-height: 85vh and not setting height: 85vh because it could change to 
    smaller height but will never go larger.

  - The bottom navigation takes 72px and covers about 8% of the page

  - the rest of space is left for body

*/
div.notifications-page {
  padding: 22px 12px;
  background-color: #15161b;
  border-radius: 0px 0px 50px 50px;

  max-height: 85vh;
  position: relative;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  /* 
    leaving space to bottom navigation bar
    to always keep bottom nav out of notifications area.
  */
  margin-bottom: 15vh;
}

div.notifications-page::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: repeating-linear-gradient(to bottom, #d3c095ff, #a07923ff);
  width: 100%;
  height: 100.23%;
  border-radius: 0px 0px 50px 50px;
  z-index: -1;
}
div.notification-header {
  height: 19vh;
  margin: 0px;
  background-color: #15161b;
  border-bottom: 1px solid #757575;
}
main.notification-box {
  /* background-color: #15161b; */
}
div.notifications-container {
  display: flex;
  flex-direction: column;
  max-height: 42vh;
  overflow-y: scroll;
}

div.notification-row {
  display: grid;
  grid-template-columns: 56px auto;
  height: 78px;
  border-bottom: 1px solid #757575;
}

/* column 1 */
div.notification-column {
  grid-column: 1/2;
  align-self: center;
}
/* column 2 */
p.notification-column {
  grid-column: 2/3;
  align-self: center;
  width: 100%;
  color: white;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: -0.24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* both columns */
/* div.notification-column{
  align-self: center;
} */

/* div.notification-column:first-child input[type=radio]{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid goldenrod;
  padding: .8rem;
  background-color: gold;
  visibility: hidden;
  position: absolute;
} */

/* container */
div.notification-column div.container {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background: repeating-linear-gradient(to left, #d3c095, #a07923);
}

div.notification-column div.container div.check {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

div.btns-container {
  max-height: 18vh;
  margin-top: 7vh;
  display: flex;
  justify-content: center;
}

div.btns-container button {
  all: unset;
  height: 60px;
  width: 60px;
  border: 1px solid goldenrod;
  border-radius: 50%;
}

/* clear btn */
div.btns-container button.clear-btn {
  margin-right: 27.5px;
}

/* read btn */
div.btns-container button.read-btn {
  margin-left: 27.5px;
}
