:root {
  --amplify-primary-color: #ff6347;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
}

.one {
  margin: 10px;
  width: 150px;
  height: 50px;
  display: inline-block;
}

body {
  background-color: #121212;
}

.settings {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #2c2c2e;
  overflow-y: scroll;
  color: white;
  text-align: center;
  padding-bottom: 4rem;
}

.Button {
  color: white;
}

.backbutton {
  left: 0;
}


div.pageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(44,44,46,0.25);
  padding: 0px;
  height: 50px;
  line-height: 20px;
  margin-bottom: 52px;
  position: relative;
}

div.pageTitle button{
  position: absolute;
  left: 1.1rem;
  top: 1rem;
  padding: 0px;
  text-align: left;
}

.backIcon {
  color: white;
}

div.pageTitle h2.text{
  font-size: 2rem;
  padding: 0px;
}

.text {
  margin: 0 auto;
  text-align: center;
}

.button__withArrow {
  padding: 1px 0px;
  margin: 3px;
  background-color: #252323;
}

.button__link {
  display: flex;
  align-items: center;
}

.rightIcon {
  color: darkgrey;
  background-color: #252323;
  /* margin-right: 3px; */
}

button.settings__Button {
  width: 100%;
  margin: 1.5px 0px !important;
  background-color: #222222 !important;
  color: white !important;
  font-size: 15px !important;
  border: none;
  text-transform: none !important;
  justify-content: flex-start;
}


.headertext {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-right: 20px;
}

.termsBody {
  display: inline-block;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  color: white;
}

/* notification style */
.not-entry {
  /* border-bottom: 1px solid black;
  border-top: 1px solid black; */
  /* color: white; */
  /* font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

/* .not-entry:nth-child(1) {
  width: 5%;
} */
/* .not-entry:nth-child(2) {
  width: 10%;
} */
/* .not-entry:nth-child(3) {
  text-align: left;
  width: 40%;
} */

.not-table {
  /* width: 100%; */
  /* border-collapse: collapse;
  table-layout: fixed; */
  /* word-break: break-all; */
}

