.submit-page-main-section {
  max-width: 1366px;
  background-color: var(--dark-color);
  margin: 0px auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.film-submit-form{
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.film-submit-form > div{
  margin: 0.5rem;
}
.submit-btn{
  width: 100%;
}
.text-input {
  margin: 1rem;
  width: 400px;
}

.text-input div {
  background-color: transparent;
  color: var(--white-color);
}

.text-input label {
  color: var(--white-color);
}

.text-input label:focus {
  color: var(--white-color);
}

.text-input fieldset {
  border-color: var(--white-color);
}

.errorElement{
  color: var(--error-color);
}