.submit-page-main-section {
  max-width: 1366px;
  background-color: var(--dark-color);
  margin: 0px auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input {
  margin: 1rem;
}

.text-input div {
  background-color: transparent;
  color: var(--white-color);
}

.text-input label {
  color: var(--white-color);
}

.text-input label:focus {
  color: var(--white-color);
}

.text-input fieldset {
  border-color: var(--white-color);
}

.text-input:focus {}

.errorElement{
  color: var(--error-color);
}